*, *:before, *:after {
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type:mandatory;

}
body{
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgb(114, 197, 197);
}
/*Estilos Scroll*/
::-webkit-scrollbar{
    width: 10px;

}
::-webkit-scrollbar-track{
    background: #3F3962;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb{
    background: #65929D;
    border-radius: 50px;
}

/** Header **/
.header {
    display: flex;
    justify-content: center;
    height: 10rem;
    
}
.contenido {
    padding:20px;
}
.contenido-principal {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: white;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color:#004e92;
    font-size: 22px;
    margin-bottom:30px;
}
.text-center{
    text-align: center;
    
}
.d-flex-9 {
    display: flex;
    justify-content: space-between;
}

.d-flex-9 .box:nth-child(1) {
    flex-basis: calc(10% - 1rem);
}
.d-flex-9 .box:nth-child(2),
.d-flex-9 .box:nth-child(3) {
    flex-basis: calc(15% - 1rem);
}
.general{
    display: flex;
    justify-content: space-evenly;
}
.d-flex-12 {
    display: flex;
    
}
.d-flex-12 .box {
    flex-grow: 1;
    flex-basis: 200px;
}
.d-flex-12 .box:nth-child(3) {
    flex-shrink: 2;
}
@media (max-width: 768px) {
   
    .d-flex-9{
       flex-direction: column;
    
    }
    .general{
        flex-direction: column;
     
     }
     .d-flex-12{
        flex-direction: column;
     
     }
     .d-flex-12 .box {
        flex-grow: 1;
        flex-basis: 60px;
    }
    .text-center{
        font-size: small;
    }
    .btn{
        flex: content;
    }
}
.d-flex-4 {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 10px;
   

    
}
.btn {
    display:flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(24, 24, 26);
    background-color: rgb(114, 197, 197);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 2rem;
    border: none;
}
.btn:hover {
    cursor: pointer;
    background-color: #3d77a9;
    box-shadow: 0 0 10px #3d77a9, 0 0 40px #3d77a9, 0 0 80px #3d77a9;
    transition-delay: .5s;
}
.footer{
    text-align: center;
}